.div__proyect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #010425;
  padding-top: 15%;
}

.BlogCards h2 {
  text-align: center;
  font-size: 3.5em;
  color: rgb(241, 234, 225);
  margin-bottom: 10px;
}

.BlogCards p {
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 20px;
  line-height: 1.7;
  padding: 10px;
}

.cardProject {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: repeat(3, 3fr);
  grid-template-columns: repeat(3, 3fr);
  height: 550px;
  --font-color: #1363be;
  --bg-color: #000f1b;
  --main-color: #2f5373;
  --main-focus: #2d8cf0;
}

.contenCards {
  position: relative;
  align-items: center;
  border-radius: 20px;
  margin: 10px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

.contenCards img {
  width: 350px;
  height: 200px;
  margin: 5px;
  border-radius: 20px;
  box-sizing: border-box;
}

.contenCards h3 {
  color: rgb(241, 234, 225);
  margin-bottom: -12px;
}

.contenCards p {
  color: whitesmoke;
  text-align: center;
  padding: 10px;
}

.btnPages {
  height: 35px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 10px;
  padding: 5px 20px;
  cursor: pointer;
  transition: all 0.3s;
  color: #2f5373;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
}

.btnPages:hover {
  border: 2px solid var(--main-focus);
  color: var(--main-focus);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    #2d8bf073,
    #2f5373ee,
    #2f5373,
    #000f1b
  );
  border-radius: 20px;
  z-index: 1;
  opacity: 0;
  padding: 20px 40px;
  transition: all 0.4s ease-in-out;
}

.overlay:hover {
  opacity: 1;
}

@media screen and (max-width: 1100px) {
  .cardProject {
    display: block;
    width: 400px;
    height: 100vh;
    margin: 0 auto;
  }

  .contenCards {
    margin: 10px;
  }

  .contenCards img {
    width: 350px;
    margin: 10px 15px;
  }
}

@media screen and (max-width: 480px) {
  .BlogCards {
    margin-top: 60px;
  }

  .BlogCards p {
    text-align: center;
  }

  .cardProject {
    margin: 10px auto;
    padding: 0;
    height: 100vh;
    width: 100%;
  }

  .contenCards {
    margin: 10px auto;
    padding: 0;
    max-width: 350px;
  }

  .contenCards img {
    margin: 5px;
    padding: 0;
    width: 335px;
    border-radius: 6px;
  }

  .contenCards h3 {
    font-size: 15px;
    margin: 5px;
  }

  .contenCards p {
    font-size: 13px;
  }
}
