.formTitle {
  font-size: 3.5em;
  color: rgb(241, 234, 225);
  margin-bottom: 10px;
}

.form-container {
  --bg-color: #000f1b71;
  --main-color: #2f5373;
  --main-focus: #2d8cf0;
  border: 2px solid var(--main-color);
  box-shadow: 5px 6px var(--main-color);
  border-radius: 5px;
  width: 400px;
  padding: 32px 24px;
  margin: 30px 0;
  font-size: 14px;
  display: block;
  flex-direction: column;
  box-sizing: border-box;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  color: var(--main-color);
  padding: 0 10px;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: antiquewhite;
  font-weight: 600;
  font-size: 12px;
}

.form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid var(--main-color);
  box-shadow: 2px 1px var(--main-color);
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid var(--main-color);
  box-shadow: 2px 1px var(--main-color);
  background-color: transparent;
  font-family: inherit;
}

.form-submit-btn {
  height: 35px;
  width: 90px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s;
  color: antiquewhite;
}

.form-submit-btn:hover {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
