.contenedorForm {
  padding-top: 3rem;
  min-height: 100vh;
}

.formTitle {
  font-size: 3.5em;
  color: rgb(241, 234, 225);
  margin-bottom: 10px;
  text-align: center;
}

.form-container {
  --bg-color: #000f1b71;
  --main-color: #2f5373;
  --main-focus: #2d8cf0;
  border: 2px solid var(--main-color);
  box-shadow: 5px 6px var(--main-color);
  border-radius: 5px;
  width: 400px;
  padding: 32px 24px;
  margin: 30px 0;
  font-size: 14px;

  flex-direction: column;
  box-sizing: border-box;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  color: var(--main-color);
  padding: 0 10px;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.form__input__div {
  position: relative;
}

.lbl_form {
  font-weight: 600;
  font-size: 14px;
  color: whitesmoke;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

.form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid var(--main-color);
  box-shadow: 2px 1px var(--main-color);
}

.form__input-error {
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 0;
  display: none;
}

.form__input-error-activo {
  display: block;
  color: #fd3838;
  opacity: 1;
  font-weight: 500;
}

.form__validation_icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 100px;
  font-size: 20px;
  opacity: 0;
}

.form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  margin-top: 10px;
  resize: none;
  height: 96px;
  border: 1px solid var(--main-color);
  box-shadow: 2px 1px var(--main-color);
  background-color: transparent;
  font-family: inherit;
}

.textArea {
  color: whitesmoke;
}

.form-submit-btn {
  height: 35px;
  width: 90px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s;
  color: antiquewhite;
}

.form-submit-btn:hover {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

/*Estilo de validaciones */

.form-group-incorrecto .form__input {
  border: 1px solid #f10101;
  box-shadow: 2px 1px #f10101;
}

.form-group-incorrecto .lbl_form {
  color: #fd3838;
  opacity: 1;
}

.form-group-incorrecto .form__validation_icon {
  color: #fd3838;
  opacity: 1;
}

@media screen and (min-width: 734px) {
  .contenedorForm {
    min-height: 50vh;
  }
}

@media screen and (max-width: 480px) {
  .formTitle {
    font-size: 2.8em;
  }

  .form-container {
    width: 320px;
    margin: 30px;
  }
}
